.idea/
*.pyc
venv/
assignment_2/references/af/*
assignment_2/references/cs/*
assignment_2/references/da/*
assignment_2/references/de/*
assignment_2/references/el/*
assignment_2/references/en/*
assignment_2/references/es/*
assignment_2/references/fi/*
assignment_2/references/fr/*
assignment_2/references/is/*
assignment_2/references/it/*
assignment_2/references/ja/*
assignment_2/references/no/*
assignment_2/references/pl/*
assignment_2/references/pt/*
assignment_2/references/ro/*
assignment_2/references/ru/*
assignment_2/references/sl/*
assignment_2/models/*
